<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AdminMapper">
	<insert id="add" parameterType="Admin">
		insert into admin_list (
		admin_account,admin_password ) values
		(#{admin_account},#{admin_password})
	</insert>

	<select id="get" parameterType="_int" resultType="Admin">
		select * from
		admin_list where admin_id= #{id}
	</select>

	<update id="update" parameterType="Admin">
		update admin_list set
		admin_password=#{admin_password} where admin_id=#{admin_id}
	</update>
	<select id="search" resultType="Admin">
		select * from admin_list
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="admin_account!=null">
				and admin_account=#{admin_account}
			</if>
		</trim>
	</select>
</mapper>