<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="mapper.EnterpriseDataMapper">
	    <insert id="add" parameterType="EnterpriseData" >
	        insert into enterprise_data_list ( name ) values (#{name})    
	    </insert>
	    
	    <delete id="delete" parameterType="EnterpriseData" >
	        delete from enterprise_data_list where id= #{id}   
	    </delete>
	    
	    <select id="get" parameterType="_int" resultType="EnterpriseData">
	        select * from   enterprise_data_list  where id= #{id}    
	    </select>

	    <update id="update" parameterType="EnterpriseData" >
	        update enterprise_data_list set name=#{name} where id=#{id}    
	    </update>
	    <select id="list" resultType="EnterpriseData">
	        select * from   enterprise_data_list      
	    </select>	    
	</mapper>